@{
    ViewData["Title"] = "Teachers";
}
<h1>Teachers</h1>

<ul>
    <li>
        <a asp-controller="TeacherPage" asp-action="List">
            View All Teachers
        </a>
    </li>
    <li>
        <a asp-controller="TeacherPage" asp-action="Show">
            Search for a Teacher
        </a>
    </li>

    <li>
        <a asp-controller="TeacherPage" asp-action="New">
            Add a new teacher
        </a>
    </li>

    <li>
        <a asp-controller="TeacherPage" asp-action="Delete">
            Delete a teacher
        </a>
    </li>
</ul>
