@{
    ViewData["Title"] = "Courses";
}
<h1>Courses</h1>

<ul>
    <li>
        <a asp-controller="CoursePage" asp-action="List">
            View All Courses
        </a>
    </li>
    <li>
        <a asp-controller="CoursePage" asp-action="Show">
            Search for a Cours
        </a>
    </li>
</ul>
