@{
    ViewData["Title"] = "Students";
}
<h1>Students</h1>

<ul>
    <li>
        <a asp-controller="StudentPage" asp-action="List">
            View All Students
        </a>
    </li>
    <li>
        <a asp-controller="StudentPage" asp-action="Show">
            Search for a Student
        </a>
    </li>
</ul>
